<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjtu.campus_information_platform">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--检测网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 发起foreground权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 读取用户健康数据权限 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- 读取用户相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.CampusInformationPlatform">
        <activity android:name=".activity.BottomBarActivity" />
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.ForgetActivity"/>
        <activity android:name=".activity.IntroActivity"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="新建课程"
            android:name=".activity.AddCourseActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:label="设置中心"
            android:name=".activity.ProfileMySetting" />

        <activity
            android:label="关于"
            android:name=".activity.ProfileAbout" />
    </application>

</manifest>